.Bottom-Pane{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(217,28%,15%);
    color: white;
}
.Bottom-left, .Bottom-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
@media screen and (max-width:719px) {
    .Bottom-Pane{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: hsl(217,28%,15%);
        color: white;
    }    
    .Bottom-left, .Bottom-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }

}
